@use "sass:color";

@import url("https://fonts.googleapis.com/css2?family=family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", serif;
  scroll-behavior: smooth;
}

body,
html {
  &.overflow {
    overflow: hidden !important;
    background: rgba(black, 0.5);
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

input,
textarea {
  border: none;
  &:focus {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
