@use "sass:color";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #E2F4FF;
  min-height: 100dvh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}